body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-card.MuiPaper-rounded {
  padding:0.5rem;
  background-color:rgb(233, 193, 193);
}

.chatroom-card.MuiPaper-rounded {
  padding:0.5rem;
  background-color:rgb(203, 218, 241);
}